#listen_host=127.0.0.1
#listen_port=9812

#debug=1

#runtime_dir=default
#logfile=php://stderr

#timezone=UTC

#username=admin
#password=haproxy-router

#assets_custom_path=

#haproxy_executable=haproxy
#haproxy_config_dir=/etc/haproxy
#haproxy_supervised=1

#haproxy_exec_start=service haproxy start
#haproxy_exec_stop=service haproxy stop
#haproxy_exec_reload=service haproxy reload

#acme_email=haproxy-router@rethinkphp.com
#acme_directory_url=https://acme-v01.api.letsencrypt.org/directory
